<div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col"><b>Medicamento (Dosis)/hora</b></th>
                <th scope="col">Ayunas</th>
                <th scope="col">Desayuno</th>
                <th scope="col">Almuerzo</th>
                <th scope="col">Cena</th>
                <th scope="col">Antes De <br>Dormir</th>
                <th scope="col">Notas</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
        </tbody>
      </table>
</div>
