/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$light-green: #AAE3E2;
$purple: #D9ACF5;
$pink: #FFCEFE;
$papaya: #FDEBED;